NAME : KHANJAN KAKKAD
THE SPARK FOUNDATION
GRIP JANUARY-2023
DATA SCIENCE AND BUSINESS ANALYTICS INTERN AT THE SPARK FOUNDATION

Task-6:Prediction using Decision Tree Algorithm

Step-1 : importing libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn import tree
import warnings
warnings.filterwarnings('ignore')

Step-2 : importing the data file

In [3]:
df=pd.read_csv('iris.csv')

Step-3 : Exploring the data

In [4]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

Step-4 : Removing unnecessary columns

In [5]:
df=df.drop('Id',axis='columns')

Step-5 : Setting target

In [6]:
target=df['Species']

Step-6: Label encoding

In [7]:
le_SepalLengthCm=LabelEncoder()
le_SepalWidthCm=LabelEncoder()
le_PetalLengthCm=LabelEncoder()
le_PetalWidthCm=LabelEncoder()

In [8]:
df['SepalLengthCm_n']=le_SepalLengthCm.fit_transform(df['SepalLengthCm'])
df['SepalWidthCm_n']=le_SepalLengthCm.fit_transform(df['SepalWidthCm'])
df['PetalLengthCm_n']=le_SepalLengthCm.fit_transform(df['PetalLengthCm'])
df['PetalWidthCm_n']=le_SepalLengthCm.fit_transform(df['PetalWidthCm'])

In [9]:
df

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,SepalLengthCm_n,SepalWidthCm_n,PetalLengthCm_n,PetalWidthCm_n
0,5.1,3.5,1.4,0.2,Iris-setosa,8,14,4,1
1,4.9,3.0,1.4,0.2,Iris-setosa,6,9,4,1
2,4.7,3.2,1.3,0.2,Iris-setosa,4,11,3,1
3,4.6,3.1,1.5,0.2,Iris-setosa,3,10,5,1
4,5.0,3.6,1.4,0.2,Iris-setosa,7,15,4,1
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,24,9,28,19
146,6.3,2.5,5.0,1.9,Iris-virginica,20,4,26,15
147,6.5,3.0,5.2,2.0,Iris-virginica,22,9,28,16
148,6.2,3.4,5.4,2.3,Iris-virginica,19,13,30,19
149,5.9,3.0,5.1,1.8,Iris-virginica,16,9,27,14

Step-7 : Dropping extra columns

In [10]:
df=df.drop(['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm','Species'],axis='columns')

In [11]:
df

     SepalLengthCm_n  SepalWidthCm_n  PetalLengthCm_n  PetalWidthCm_n
0                  8              14                4               1
1                  6               9                4               1
2                  4              11                3               1
3                  3              10                5               1
4                  7              15                4               1
..               ...             ...              ...             ...
145               24               9               28              19
146               20               4               26              15
147               22               9               28              16
148               19              13               30              19
149               16               9               27              14

[150 rows x 4 columns]

Step-8 : Creating model

In [12]:
model=tree.DecisionTreeClassifier()

In [13]:
model.fit(df,target)

DecisionTreeClassifier()

In [14]:
model.score(df,target)

1.0

Step-9 : prediction

In [47]:
model.predict(([[0,1,2,3]]))

array(['Iris-setosa'], dtype=object)